* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --black-color: #000;
  --paragraphs-color: #111010d2;
  --primary-color: #089da1;
}
/* -------------- global styles -------------- */
html {
  font-size: 16px;
}
body {
  overflow-x: hidden;
  font-family: sans-serif;
}
body::-webkit-scrollbar {
  width: 0.35rem;
}
body ::-webkit-scrollbar-track {
  background: #d1d1d1;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 0.1rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  padding: 15px 25px;
  margin: auto;
}
@media (min-width: 992px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 85%;
  }
}
.section-title {
  font-size: 2.6rem;
  text-transform: capitalize;
  margin: 3.1rem 0 4rem;
  position: relative;
  text-align: center;
}
.section-title::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 6.5rem;
  height: 0.25rem;
  border-radius: 50%;
  background: var(--primary-color);
}
/* this button will be used in about , arrivals and featuredBooks sections */
.books-LeranMoreBtn {
  border: solid 2px var(--primary-color);
  padding: 8px 16px;
  margin: auto;
  background: white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.books-LeranMoreBtn::before {
  content: "Learn More";
  position: absolute;
  top: 0;
  left: -101%;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms;
}
.books-LeranMoreBtn:hover::before {
  left: 0;
}
#scrollLine {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background: var(--primary-color);
  border-radius: 1rem;
  z-index: 11;
}
#UpBtn {
  position: fixed;
  bottom: 1rem;
  right: -5rem;
  opacity: 0;
  background: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 400ms;
}
#UpBtn.active {
  right: 1rem;
  opacity: 1;
}
/* -------------- global styles end-------------- */
/* ----------------- header start ------------------ */
header {
  width: 100%;
  position: fixed;
  background: white;
  box-shadow: 0 3px 5px var(--primary-color);
  z-index: 10;
}
header .container {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container img {
  width: 4rem;
}
header .container nav ul {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
header .container nav ul li a {
  color: var(--paragraphs-color);
  transition: 400ms;
  text-transform: capitalize;
}
header .container nav ul li a:hover {
  color: var(--primary-color);
}
header .container nav ul li a.active {
  color: var(--primary-color);
}
header .container .headerActions {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
header .container .headerActions i {
  font-size: 1.2rem;
  cursor: pointer;
}
header .container .headerActions .BurgerIcon {
  width: 2rem;
  height: 1.2rem;
  position: relative;
  cursor: pointer;
  display: none;
}
header .container .headerActions .BurgerIcon span {
  width: 100%;
  height: 0.2rem;
  position: absolute;
  left: 0;
  background: var(--black-color);
  transition: 400ms;
}
header .container .headerActions .BurgerIcon span:first-child {
  top: 0;
}
header .container .headerActions .BurgerIcon span:nth-child(2) {
  top: 0.5rem;
}
header .container .headerActions .BurgerIcon span:last-child {
  bottom: 0;
}
header .container .headerActions .BurgerIcon.active span:first-child,
header .container .headerActions .BurgerIcon.active span:last-child {
  top: 0.6rem;
}
header .container .headerActions .BurgerIcon.active span:nth-child(2) {
  opacity: 0;
}
header .container .headerActions .BurgerIcon.active span:first-child {
  transform: rotate(45deg);
}
header .container .headerActions .BurgerIcon.active span:last-child {
  transform: rotate(-45deg);
}
@media (max-width: 767px) {
  header .container .headerActions .BurgerIcon {
    display: block;
  }
  header .container nav {
    position: absolute;
    top: 100%;
    right: -160%;
    background: var(--primary-color);
    height: calc(100vh - 69.54px);
    padding: 20px 0;
    transition: 400ms;
  }
  header .container.active nav {
    right: 0;
  }
  header .container nav ul {
    flex-direction: column;
    width: 19rem;
    gap: 0.5rem;
  }
  header .container nav ul li {
    width: 100%;
  }
  header .container nav ul li a {
    color: white;
    display: block;
    padding: 20px;
    text-align: center;
    position: relative;
  }
  header .container nav ul li a span {
    position: relative;
  }
  header .container nav ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: white;
    transition: all 400ms, border-radius 400ms 250ms;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
  }
  header .container nav ul li a.active,
  header .container nav ul li a:hover {
    color: var(--primary-color);
  }
  header .container nav ul li a.active::before,
  header .container nav ul li a:hover::before {
    width: 100%;
    border-radius: 0;
  }
}
/* ----------------- header end ------------------ */
/* ------------------------ main section start  -------------------------------------*/
main {
  min-height: 100vh;
  background: url("../image/bg.png");
  background-position: center;
  background-size: cover;
}
main .container {
  padding-top: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
main .container .info h2 {
  font-size: 2.7rem;
  text-transform: uppercase;
}
main .container .info h2 span {
  color: var(--primary-color);
}
main .container .info p {
  line-height: 1.2;
  color: var(--paragraphs-color);
}
main .container .info button {
  padding: 0.7rem 1.8rem;
  background: var(--primary-color);
  color: white;
  border: none;
  cursor: pointer;
  transition: 400ms;
  width: fit-content;
  text-transform: capitalize;
}
main .container .image {
  flex-basis: 50%;
  position: relative;
  top: -2.5rem;
}
main .container .image img {
  width: 100%;
}
@media (max-width: 991px) {
  main .container {
    justify-content: center;
    flex-direction: column;
    gap: 70px;
  }
  main .container .info {
    text-align: center;
    flex-basis: 100%;
    align-items: center;
  }
  main .container .image {
    flex-basis: 100%;
    top: 0;
  }
}
@media (max-width: 475px) {
  main .container .info h2 {
    font-size: 2.1rem;
  }
}
/* ------------------------ main section end ------------------------------------- */
/* ------------ features start ----------------- */
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 250px));
  justify-content: space-around;
  gap: 15px;
  align-items: center;
}
.features .container .feature {
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 6px var(--primary-color);
}
.features .container .feature i {
  color: var(--primary-color);
  font-size: 30px;
}
.features .container .feature h4 {
  text-transform: capitalize;
  margin: 10px 0;
}
.features .container .feature p {
  color: var(--paragraphs-color);
}
/* ------------ features end ----------------- */
/* ------------- about start ----------------- */
.about {
  margin: 70px 0;
  overflow: hidden;
}
.about .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.about .container .image {
  width: 32rem;
}
.about .container .image img {
  width: 100%;
}
.about .container .about-info {
  width: 40%;
  position: relative;
}
.about .container .about-info h2 {
  text-transform: capitalize;
}
.about .container .about-info p {
  color: var(--paragraphs-color);
  margin: 20px 0;
}

@media (max-width: 991px) {
  .about .container .image {
    position: absolute;
    bottom: -50%;
    right: -30%;
    opacity: 0.4;
  }
  .about .container .about-info {
    flex-basis: 80%;
    text-align: left;
  }
}
/* ------------- about end ----------------- */
/* --------------------------- featured books start -------------------- */
.featuredBooks .container {
  display: flex;
  gap: 1.25rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
.featuredBooks .container .book {
  padding: 0.3rem 0.9rem;
  width: 15rem;
  border: 1px solid #444;
  text-align: center;
  flex-shrink: 0;
  transition: 400ms;
}
.featuredBooks .container .book:hover {
  box-shadow: 0 0 6px var(--primary-color);
}
.featuredBooks .container .book img {
  width: 80%;
}
.featuredBooks .container .book .bookTitle {
  text-transform: capitalize;
  margin: 10px 0;
}
.featuredBooks .container .book .author {
  color: gray;
  margin-bottom: 10px;
}
.featuredBooks .container .book .Genre {
  color: var(--primary-color);
}
.featuredBooks .container .book .price {
  margin: 10px 0;
}
.featuredBooks .container .book .price .prevPrice {
  text-decoration: line-through;
}
/* change the scroll bar for the featuredBooks section */
.featuredBooks .container::-webkit-scrollbar {
  height: 0.4rem;
}
.featuredBooks .container::-webkit-scrollbar-track {
  background: #d1d1d1;
}
.featuredBooks .container::-webkit-scrollbar-thumb {
  background-color: #237e81;
  border-radius: 0.25rem;
}
/* --------------------------- featured books end -------------------- */
/* --------------------------- new arrival start -----------------------  */
.New-Arrivals .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 13rem));
  justify-content: center;
  column-gap: 3rem;
  row-gap: 1rem;
}
.New-Arrivals .container .book {
  padding: 0.3rem 0.9rem;
  border: 1px solid #444;
  text-align: center;
  transition: 400ms;
}
.New-Arrivals .container .book .image {
  width: 85%;
  margin: auto;
  height: fit-content;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.819);
  transition: 400ms;
  overflow: hidden;
}
.New-Arrivals .container .book .image img {
  transform: scale(1.05);
  width: 100%;
  transition: 400ms;
}
.New-Arrivals .container .book:hover {
  box-shadow: 0 0 6px var(--primary-color);
}
.New-Arrivals .container .book:hover img {
  transform: scale(1.18);
}
.New-Arrivals .container .book .bookTitle {
  text-transform: capitalize;
  margin: 10px 0;
}
/* the stars here will be used for both new arrivals and reviews sections */
.stars {
  width: fit-content;
  display: flex;
  gap: 2px;
  margin: 10px auto;
}
.star {
  font-size: 0.9rem;
  color: var(--primary-color);
}
/* --------------------------- new arrival end -----------------------  */
/* ----------------- reviews section start ---------------------- */
.reviews .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 20rem));
  justify-content: center;
  gap: 1.2rem;
}
.reviews .container .review {
  position: relative;
  padding: 1rem;
  box-shadow: 0 0 6px var(--primary-color);
  text-align: left;
}
.reviews .container .review .quote {
  position: absolute;
  top: 0;
  right: 0.8rem;
  opacity: 0.1;
  font-size: 6rem;
}
.reviews .container .review .reviewer-image {
  border-radius: 50%;
  width: 70px;
}
.reviews .container .review .reviewer-name {
  text-transform: capitalize;
  margin: 0.8rem 0;
}
.reviews .container .review .review-text {
  color: var(--paragraphs-color);
}
.reviews .container .review .stars {
  margin: 0.6rem 0 1rem;
}
/* ----------------- reviews section end ---------------------- */
/* ---------------- banner start ---------------- */
.banner {
  background: url(../image/banner.png);
  background-size: cover;
  background-position: center;
}
.banner .container{
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:flex-start;
}
.banner .container h2 {
  font-size: 3rem;
}
.banner .container p{
  margin:0 0 1.2rem;
  width:40%;
}
.banner .container a{
  color:white;
  padding:0.3rem 0.6rem;
  background:var(--primary-color);
  font-size:0.8rem;
}
/* ---------------- banner end ---------------- */
/* --------------------- our blog start -----------------------*/
.Blogs .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 22rem));
  gap: 3rem;
  justify-content: center;
}
.Blogs .container .blog {
  box-shadow: 0 0 8px #333333cd;
  display: flex;
  flex-direction: column;
}

.Blogs .container .blog .image img {
  width: 100%;
  object-fit: cover;
  height: 12rem;
}
.Blogs .container .blog .content {
  padding: 0.9rem;
}
.Blogs .container .blog .content .title {
  color: var(--primary-color);
  text-transform: capitalize;
  margin-bottom: 0.8rem;
}
.Blogs .container .blog .content .description {
  color: var(--paragraphs-color);
  margin-bottom: 0.3rem;
}
.Blogs .container .blog .content .actions {
  display: flex;
  justify-content: space-between;
}
.Blogs .container .blog .content .actions i {
  color: var(--primary-color);
}
/* --------------------- our blog end -------------------------*/
/* ------------------- footer start ----------------------- */

footer {
  background: #d8d8d8;
}
footer .container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}
footer .container .content {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 2rem;
}
footer .container .content .column:not(:first-of-type) .columnHead {
  margin-bottom: 1.4rem;
}
footer .container .content .column:first-of-type img {
  width: 4.5rem;
  margin-bottom: 1rem;
}
footer .container .content .column:first-of-type p {
  color: var(--paragraphs-color);
}
footer .container .content .column ul li {
  margin: 0.8rem 0;
}
footer .container .content .column ul:not(.contact) li a {
  color: var(--paragraphs-color);
  transition: 400ms;
}
footer .container .content .column ul:not(.contact) li a:hover {
  color: var(--primary-color);
}
footer .container .content .column .contact li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-size: 0.9rem;
}
footer .container .content .column .contact li span {
  color: var(--paragraphs-color);
}
footer .container .content .column .social {
  display: flex;
  gap: 0.8rem;
}
footer .container .content .column .social a {
  display: inline-block;
  color: black;
  transition: 400ms;
  position: relative;
  top: 0;
}
footer .container .content .column .social a:hover {
  color: var(--primary-color);
  top: -0.25rem;
}
footer .container .content .column form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
footer .container .content .column form input {
  border: none;
  outline: none;
  padding: 0.5rem 0.8rem;
  border-radius: 1rem;
  background: #b8b7b7;
  max-width: 13rem;
}
footer .container .content .column form button {
  width: fit-content;
  background: var(--primary-color);
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 0.8rem;
  color: white;
  cursor: pointer;
}
footer .container .copyRight {
  color: var(--paragraphs-color);
}
footer .container .copyRight span {
  color: var(--primary-color);
}

/* make the footer respnosive */
@media (max-width: 992px) {
  footer .container .content {
    grid-template-columns: 2fr 1fr 1fr;
  }
}
@media (max-width: 767px) {
  footer .container .content {
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  footer .container .content .column .social {
    justify-content: center;
  }
  footer .container .content .column .contact li {
    justify-content: center;
  }
  footer .container .content .column form {
    align-items: center;
  }
}
@media (max-width: 500px) {
  footer .container .content {
    grid-template-columns: 1fr;
  }
}
/* ------------------- footer end  ----------------------- */
